# SQLite

## Import Library

In [9]:
# %pip install sqlite3
import sqlite3

# %pip install pandas
import pandas as pd

## Connect to SQLite

In [10]:
connection = sqlite3.connect('./database/e-commerce.db')
cursor = connection.cursor()

## Read Dataset

In [3]:
dataset_csv = pd.read_csv("./datasets/data.csv", encoding='ISO-8859-1')

dataset_csv.head(2)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

## Create Table

In [26]:
cursor.execute('''
    CREATE TABLE sales_order (
        InvoiceNo VARCHAR(255) NOT NULL,
        StockCode VARCHAR(255) NOT NULL,
        Description VARCHAR(255),
        Quantity INTEGER NOT NULL,
        InvoiceDate DATETIME NOT NULL,
        UnitPrice FLOAT NOT NULL,
        CustomerID FLOAT,
        Country VARCHAR(255) NOT NULL
    )
''')

connection.commit()

## Insert Data

In [27]:
data = dataset_csv[['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']].values.tolist()

cursor.executemany('''
    INSERT INTO sales_order (InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country)
    VALUES (?, ?, ?, ?, ?, ?, ?, ?)
''', data)

connection.commit()

## Check sales_order Table

In [11]:
import sqlite3

conn = sqlite3.connect('./database/e-commerce.db') 
cur = conn.cursor()

cur.execute("PRAGMA table_info(sales_order)") 
sql_columns = [column[1] for column in cur.fetchall()] 
print(f"Columns: {sql_columns}")

cur.execute("SELECT COUNT(*) FROM sales_order") 
sql_num_rows = cur.fetchone()[0] 
print(f"Number of rows: {sql_num_rows}")

conn.close()

Columns: ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']
Number of rows: 541909

## 1. Total number of unique products and unique customers

In [12]:
sql_num_products = pd.read_sql_query('''
    SELECT COUNT(DISTINCT Description) AS 'Unique Products' FROM sales_order                      
''', connection)

display(sql_num_products)

sql_num_customers = pd.read_sql_query('''
    SELECT COUNT(DISTINCT CustomerID) AS 'Unique Customers' FROM sales_order                      
''', connection)

display(sql_num_customers)

   Unique Products
0             4223

   Unique Customers
0              4372

## 2. Total revenue for each product, limited to top 5

In [13]:
sql_top_product_revenues = pd.read_sql_query('''
    SELECT 
        Description,
        SUM(Quantity * UnitPrice) AS Revenue
    FROM sales_order 
    GROUP BY Description 
    ORDER BY Revenue DESC
    LIMIT 5
''', connection)

sql_top_product_revenues = list(sql_top_product_revenues.itertuples(index=False, name=None))

display(sql_top_product_revenues)

[('DOTCOM POSTAGE', 206245.48),
 ('REGENCY CAKESTAND 3 TIER', 164762.19),
 ('WHITE HANGING HEART T-LIGHT HOLDER', 99668.47),
 ('PARTY BUNTING', 98302.98),
 ('JUMBO BAG RED RETROSPOT', 92356.03)]

## 3. The most profitable countries (by total sales), limited to top 5

In [14]:
sql_top_countries = pd.read_sql_query('''
    SELECT 
        Country,
        SUM(Quantity * UnitPrice) AS Revenue
    FROM sales_order 
    GROUP BY Country 
    ORDER BY Revenue DESC
    LIMIT 5
''', connection)

sql_top_countries = list(sql_top_countries.itertuples(index=False, name=None))

display(sql_top_countries)

[('United Kingdom', 8187806.364),
 ('Netherlands', 284661.54),
 ('EIRE', 263276.82),
 ('Germany', 221698.21),
 ('France', 197403.9)]

## 4. Top-selling products (by total sales) for each country, limited to top 5

In [15]:
sql_top_selling_product = pd.read_sql_query('''
    SELECT 
        Country,
        Description,
        Revenue
    FROM (
        SELECT 
            Country,
            Description,
            SUM(Quantity * UnitPrice) AS Revenue,
            ROW_NUMBER() OVER (PARTITION BY Country ORDER BY SUM(Quantity * UnitPrice) DESC) AS row_num
        FROM sales_order
        GROUP BY Country, Description
    ) AS ranked_sales
    WHERE row_num <= 5
    ORDER BY Country, Revenue DESC;
''', connection)

sql_top_selling_products_by_country_by_sales = {}

for row in sql_top_selling_product.itertuples(index=False):
    country = row.Country
    description = row.Description
    revenue = row.Revenue
    
    if country not in sql_top_selling_products_by_country_by_sales:
        sql_top_selling_products_by_country_by_sales[country] = []
    
    sql_top_selling_products_by_country_by_sales[country].append((description, revenue))

display(sql_top_selling_products_by_country_by_sales)

{'Australia': [('RABBIT NIGHT LIGHT', 3375.84),
  ('SET OF 6 SPICE TINS PANTRY DESIGN', 2082.0),
  ('RED TOADSTOOL LED NIGHT LIGHT', 1987.1999999999998),
  ('SET OF 3 CAKE TINS PANTRY DESIGN ', 1978.25),
  ('REGENCY CAKESTAND 3 TIER', 1978.1999999999998)],
 'Austria': [('POSTAGE', 1456.0),
  ('PACK OF 6 SWEETIE GIFT BOXES', 302.40000000000003),
  ('PACK OF 6 PANNETONE GIFT BOXES', 302.40000000000003),
  ('EDWARDIAN PARASOL RED', 214.20000000000002),
  ('EDWARDIAN PARASOL NATURAL', 214.20000000000002)],
 'Bahrain': [('ICE CREAM SUNDAE LIP GLOSS', 120.0),
  ('DOUGHNUT LIP GLOSS ', 75.0),
  ('NOVELTY BISCUITS CAKE STAND 3 TIER', 59.699999999999996),
  ('STRAWBERRY FAIRY CAKE TEAPOT', 39.6),
  ('GROW A FLYTRAP OR SUNFLOWER IN TIN', 30.0)],
 'Belgium': [('POSTAGE', 4248.0),
  ('ROUND SNACK BOXES SET OF4 WOODLAND ', 1181.4),
  ('SPACEBOY LUNCH BOX ', 641.8499999999999),
  ('DOLLY GIRL LUNCH BOX', 641.8499999999999),
  ('REGENCY CAKESTAND 3 TIER', 599.25)],
 'Brazil': [('REGENCY CAKESTAND 3 TIER', 175.2),
  ('SET OF 6 SPICE TINS PANTRY DESIGN', 82.80000000000001),
  ('SET/3 RED GINGHAM ROSE STORAGE BOX', 81.36),
  ('DOORMAT AIRMAIL ', 67.5),
  ('ROSES REGENCY TEACUP AND SAUCER ', 61.199999999999996)],
 'Canada': [('POSTAGE', 550.94),
  ('RETRO COFFEE MUGS ASSORTED', 534.24),
  ('LUNCH BAG  BLACK SKULL.', 82.5),
  ('WORLD WAR 2 GLIDERS ASSTD DESIGNS', 60.48),
  ('COLOURING PENCILS BROWN TUBE', 50.4)],
 'Channel Islands': [('REGENCY CAKESTAND 3 TIER', 517.8),
  ('JUMBO BAG RED RETROSPOT', 460.7),
  ('SET OF 3 CAKE TINS PANTRY DESIGN ', 408.0),
  ('JUMBO BAG APPLES', 399.6),
  ('JUMBO  BAG BAROQUE BLACK WHITE', 399.6)],
 'Cyprus': [('RUSTIC  SEVENTEEN DRAWER SIDEBOARD', 580.0),
  ('WHITE HANGING HEART T-LIGHT HOLDER', 386.4),
  ('REGENCY CAKESTAND 3 TIER', 382.5),
  ('VINTAGE RED KITCHEN CABINET', 250.0),
  ('VINTAGE BLUE KITCHEN CABINET', 250.0)],
 'Czech Republic': [('ROUND SNACK BOXES SET OF4 WOODLAND ', 70.80000000000001),
  ('ROTATING SILVER ANGELS T-LIGHT HLDR', 61.199999999999996),
  ('SET3 BOOK BOX GREEN GINGHAM FLOWER ', 51.0),
  ('SCOTTIES DESIGN WASHBAG', 46.8),
  ('BAKING MOULD HEART MILK CHOCOLATE', 45.9)],
 'Denmark': [('RED KITCHEN SCALES', 734.4000000000001),
  ('POSTAGE', 726.0),
  ('IVORY KITCHEN SCALES', 696.1500000000001),
  ('GUMBALL COAT RACK', 575.1),
  ('SET 10 LIGHTS NIGHT OWL', 428.40000000000003)],
 'EIRE': [('REGENCY CAKESTAND 3 TIER', 7442.849999999999),
  ('CARRIAGE', 5175.0),
  ('JAM MAKING SET WITH JARS', 3089.0),
  ('3 TIER CAKE TIN RED AND CREAM', 3041.55),
  ('WHITE HANGING HEART T-LIGHT HOLDER', 2857.8)],
 'European Community': [('POSTAGE', 141.0),
  ('BISCUIT TIN VINTAGE RED', 54.0),
  ('BISCUIT TIN VINTAGE GREEN', 54.0),
  ('OFFICE MUG WARMER CHOC+BLUE', 53.10000000000001),
  ('SET/3 VANILLA SCENTED CANDLE IN BOX', 51.0)],
 'Finland': [('POSTAGE', 3472.0),
  ('CHILDRENS CUTLERY POLKADOT PINK', 1819.2),
  ('CHILDRENS CUTLERY POLKADOT BLUE', 1187.4),
  ('CHILDRENS CUTLERY POLKADOT GREEN ', 784.6),
  ('Manual', 551.2)],
 'France': [('POSTAGE', 15065.0),
  ('RABBIT NIGHT LIGHT', 7275.12),
  ('REGENCY CAKESTAND 3 TIER', 2581.7999999999997),
  ('RED TOADSTOOL LED NIGHT LIGHT', 2168.1),
  ('PLASTERS IN TIN WOODLAND ANIMALS', 1868.3999999999999)],
 'Germany': [('POSTAGE', 20821.0),
  ('REGENCY CAKESTAND 3 TIER', 8257.35),
  ('ROUND SNACK BOXES SET OF4 WOODLAND ', 3554.7000000000003),
  ('ROUND SNACK BOXES SET OF 4 FRUITS ', 1949.9500000000003),
  ('SPACEBOY LUNCH BOX ', 1629.4499999999998)],
 'Greece': [('POSTAGE', 285.0),
  ('REGENCY CAKESTAND 3 TIER', 175.2),
  ('VINTAGE CREAM 3 BASKET CAKE STAND', 135.84),
  ('DOORMAT WELCOME TO OUR HOME', 135.0),
  ('DOORMAT WELCOME PUPPIES', 135.0)],
 'Hong Kong': [('CHILDRENS CUTLERY POLKADOT PINK', 398.40000000000003),
  ('ROUND SNACK BOXES SET OF4 WOODLAND ', 384.9),
  ('CHILDRENS CUTLERY RETROSPOT RED ', 365.20000000000005),
  ('MEASURING TAPE BABUSHKA PINK', 318.6),
  ('RETROSPOT TEA SET CERAMIC 11 PC ', 235.65)],
 'Iceland': [('3D DOG PICTURE PLAYING CARDS', 371.70000000000005),
  ('ICE CREAM SUNDAE LIP GLOSS', 249.60000000000002),
  ('REGENCY CAKESTAND 3 TIER', 191.25),
  ('RABBIT NIGHT LIGHT', 153.84),
  ('ALARM CLOCK BAKELIKE RED ', 135.0)],
 'Israel': [('REGENCY CAKESTAND 3 TIER', 551.0999999999999),
  ('ROUND SNACK BOXES SET OF4 WOODLAND ', 244.79999999999998),
  ('SET OF 4 KNICK KNACK TINS DOILEY ', 229.8),
  ('BLUE DINER WALL CLOCK', 183.60000000000002),
  ('DOILEY STORAGE TIN', 154.20000000000002)],
 'Italy': [('POSTAGE', 1645.0),
  ('RETROSPOT TEA SET CERAMIC 11 PC ', 222.75000000000003),
  ('SET OF 3 CAKE TINS PANTRY DESIGN ', 212.85000000000002),
  ('BREAD BIN DINER STYLE IVORY', 179.4),
  ('ROUND SNACK BOXES SET OF4 WOODLAND ', 177.00000000000003)],
 'Japan': [('RABBIT NIGHT LIGHT', 6087.79),
  ('ROUND SNACK BOXES SET OF 4 FRUITS ', 2220.8999999999996),
  ('RED SPOTTY BISCUIT TIN', 815.75),
  ('RED RETROSPOT MINI CASES', 761.9999999999999),
  ('RED RETROSPOT ROUND CAKE TINS', 751.8)],
 'Lebanon': [('REGENCY CAKESTAND 3 TIER', 153.0),
  ('WOODEN SKITTLES GARDEN SET', 102.0),
  ('CREAM SWEETHEART MINI CHEST', 102.0),
  ('PHARMACIE FIRST AID TIN', 81.0),
  ('BISCUIT TIN VINTAGE RED', 71.4)],
 'Lithuania': [('GREY FLORAL FELTCRAFT SHOULDER BAG', 135.0),
  ('FELTCRAFT DOLL ROSIE', 122.39999999999999),
  ('FELTCRAFT PRINCESS LOLA DOLL', 120.0),
  ('FELTCRAFT PRINCESS OLIVIA DOLL', 105.0),
  ('FELTCRAFT CUSHION BUTTERFLY', 90.0)],
 'Malta': [('POSTAGE', 525.0),
  ('GRAND CHOCOLATECANDLE', 108.75),
  ('REGENCY CAKESTAND 3 TIER', 89.25),
  ('REGENCY TEAPOT ROSES ', 79.6),
  ('PHOTO FRAME 3 CLASSIC HANGING', 59.699999999999996)],
 'Netherlands': [('RABBIT NIGHT LIGHT', 9568.48),
  ('ROUND SNACK BOXES SET OF4 WOODLAND ', 7991.4),
  ('SPACEBOY LUNCH BOX ', 7485.599999999999),
  ('DOLLY GIRL LUNCH BOX', 6828.599999999999),
  ('ROUND SNACK BOXES SET OF 4 FRUITS ', 4039.2)],
 'Norway': [('POSTAGE', 2870.5),
  ('GROW A FLYTRAP OR SUNFLOWER IN TIN', 538.8000000000001),
  ('CHILDS BREAKFAST SET DOLLY GIRL ', 527.4),
  ('CHILDS BREAKFAST SET SPACEBOY ', 487.6),
  ('SET OF 3 CAKE TINS PANTRY DESIGN ', 441.6)],
 'Poland': [('POSTAGE', 360.0),
  ('CERAMIC CAKE DESIGN SPOTTED MUG', 182.57999999999998),
  ('SET OF 6 SPICE TINS PANTRY DESIGN', 177.60000000000002),
  ('STRAWBERRY CERAMIC TRINKET BOX', 166.32),
  ('SET OF 3 CAKE TINS PANTRY DESIGN ', 161.4)],
 'Portugal': [('POSTAGE', 2508.0),
  ('RETROSPOT TEA SET CERAMIC 11 PC ', 463.35),
  ('JUMBO SHOPPER VINTAGE RED PAISLEY', 387.40000000000003),
  ('LUNCH BAG RED RETROSPOT', 354.75),
  ('BAKING SET 9 PIECE RETROSPOT ', 334.65000000000003)],
 'RSA': [('CLASSIC METAL BIRDCAGE PLANT HOLDER', 38.25),
  ('WOODEN CROQUET GARDEN SET', 29.9),
  ('SPOTTY BUNTING', 29.700000000000003),
  ('WHEELBARROW FOR CHILDREN ', 25.5),
  ('REGENCY CAKESTAND 3 TIER', 25.5)],
 'Saudi Arabia': [('PLASTERS IN TIN STRONGMAN', 19.799999999999997),
  ('PLASTERS IN TIN SKULLS', 19.799999999999997),
  ('PLASTERS IN TIN CIRCUS PARADE ', 19.799999999999997),
  ('GLASS JAR PEACOCK BATH SALTS', 17.700000000000003),
  ('GLASS JAR MARMALADE ', 17.700000000000003)],
 'Singapore': [('DOORMAT UNION FLAG', 340.8),
  ('VINTAGE RED KITCHEN CABINET', 250.0),
  ('DOORMAT RED RETROSPOT', 205.8),
  ('RED RETROSPOT PICNIC BAG', 201.25),
  ('CHRISTMAS TREE PAINTED ZINC ', 176.64000000000001)],
 'Spain': [('POSTAGE', 5852.0),
  ('CHILDRENS CUTLERY POLKADOT PINK', 2737.35),
  ('CHILDRENS CUTLERY POLKADOT BLUE', 2450.75),
  ('REGENCY CAKESTAND 3 TIER', 1660.35),
  ('PINK 3 PIECE POLKADOT CUTLERY SET', 1220.4)],
 'Sweden': [('MINI PAINT SET VINTAGE ', 1895.4),
  ('SET OF 3 CAKE TINS PANTRY DESIGN ', 1767.15),
  ('POSTAGE', 1389.0),
  ('SET 40 HEART SHAPE PETIT FOUR CASES', 1240.8),
  ('SET OF 3 REGENCY CAKE TINS', 1108.8000000000002)],
 'Switzerland': [('POSTAGE', 3880.0),
  ('ROUND SNACK BOXES SET OF4 WOODLAND ', 1297.85),
  ('PLASTERS IN TIN WOODLAND ANIMALS', 977.55),
  ('REGENCY CAKESTAND 3 TIER', 911.4),
  ('PLASTERS IN TIN SPACEBOY', 732.1499999999999)],
 'USA': [('SET 6 SCHOOL MILK BOTTLES IN CRATE', 162.72),
  ('REGENCY CAKESTAND 3 TIER', 114.75),
  ('SET/10 RED POLKADOT PARTY CANDLES', 60.0),
  ('SET/10 PINK POLKADOT PARTY CANDLES', 60.0),
  ('SET/10 IVORY POLKADOT PARTY CANDLES', 60.0)],
 'United Arab Emirates': [('REGENCY CAKESTAND 3 TIER', 153.0),
  ('I LOVE LONDON BABY GIFT SET', 89.69999999999999),
  ('DOLLY GIRL BABY GIFT SET', 89.69999999999999),
  (' SPACEBOY BABY GIFT SET', 89.69999999999999),
  ('PINK HAPPY BIRTHDAY BUNTING', 65.4)],
 'United Kingdom': [('DOTCOM POSTAGE', 206245.48),
  ('REGENCY CAKESTAND 3 TIER', 134405.94),
  ('WHITE HANGING HEART T-LIGHT HOLDER', 93953.07),
  ('PARTY BUNTING', 92501.73),
  ('JUMBO BAG RED RETROSPOT', 84516.44)],
 'Unspecified': [('JAM MAKING SET WITH JARS', 70.5),
  ('STORAGE TIN VINTAGE DOILY ', 69.36),
  ('BISCUIT TIN VINTAGE CHRISTMAS', 69.36),
  ('ICE CREAM SUNDAE LIP GLOSS', 60.0),
  ('BAKING SET 9 PIECE RETROSPOT ', 54.45)]}

## 5. Top-selling products (by quantity) for each country, limited to top 5

In [16]:
sql_top_selling_product = pd.read_sql_query('''
    SELECT 
        Country,
        Description,
        Revenue
    FROM (
        SELECT 
            Country,
            Description,
            SUM(Quantity) AS Revenue,
            ROW_NUMBER() OVER (PARTITION BY Country ORDER BY SUM(Quantity) DESC) AS row_num
        FROM sales_order
        GROUP BY Country, Description
    ) AS ranked_sales
    WHERE row_num <= 5
    ORDER BY Country, Revenue DESC;
''', connection)

sql_top_selling_products_by_country_by_quantity = {}

for row in sql_top_selling_product.itertuples(index=False):
    country = row.Country
    description = row.Description
    revenue = row.Revenue
    
    if country not in sql_top_selling_products_by_country_by_quantity:
        sql_top_selling_products_by_country_by_quantity[country] = []
    
    sql_top_selling_products_by_country_by_quantity[country].append((description, revenue))

display(sql_top_selling_products_by_country_by_quantity)

{'Australia': [('MINI PAINT SET VINTAGE ', 2916),
  ('RABBIT NIGHT LIGHT', 1884),
  ('RED  HARMONICA IN BOX ', 1704),
  ('RED TOADSTOOL LED NIGHT LIGHT', 1344),
  ('DOLLY GIRL LUNCH BOX', 1024)],
 'Austria': [('SET 12 KIDS COLOUR  CHALK STICKS', 288),
  ('MINI JIGSAW PURDEY', 240),
  ('PACK OF 6 SWEETIE GIFT BOXES', 144),
  ('PACK OF 6 PANNETONE GIFT BOXES', 144),
  ('TEA BAG PLATE RED RETROSPOT', 48)],
 'Bahrain': [('ICE CREAM SUNDAE LIP GLOSS', 96),
  ('DOUGHNUT LIP GLOSS ', 60),
  ('GROW A FLYTRAP OR SUNFLOWER IN TIN', 24),
  ('S/4 PINK FLOWER CANDLES IN BOWL', 12),
  ('STRAWBERRY FAIRY CAKE TEAPOT', 8)],
 'Belgium': [('PACK OF 72 RETROSPOT CAKE CASES', 480),
  ('ROUND SNACK BOXES SET OF4 WOODLAND ', 420),
  ('PACK OF 60 SPACEBOY CAKE CASES', 384),
  ('SPACEBOY LUNCH BOX ', 339),
  ('DOLLY GIRL LUNCH BOX', 339)],
 'Brazil': [('SMALL HEART FLOWERS HOOK ', 24),
  ('SET/3 RED GINGHAM ROSE STORAGE BOX', 24),
  ('SET OF 6 SPICE TINS PANTRY DESIGN', 24),
  ('SET OF 4 PANTRY JELLY MOULDS', 24),
  ('ROSES REGENCY TEACUP AND SAUCER ', 24)],
 'Canada': [('RETRO COFFEE MUGS ASSORTED', 504),
  ('WORLD WAR 2 GLIDERS ASSTD DESIGNS', 288),
  ('COLOURING PENCILS BROWN TUBE', 60),
  ('LUNCH BAG  BLACK SKULL.', 50),
  ('SCOTTIE DOGS BABY BIB', 48)],
 'Channel Islands': [('RAIN PONCHO ', 407),
  ('JUMBO BAG RED RETROSPOT', 250),
  ('JUMBO BAG APPLES', 220),
  ('JUMBO  BAG BAROQUE BLACK WHITE', 220),
  ('JUMBO BAG PINK POLKADOT', 200)],
 'Cyprus': [('HEART DECORATION PAINTED ZINC ', 384),
  ('GIRLS ALPHABET IRON ON PATCHES ', 288),
  ('BOYS ALPHABET IRON ON PATCHES', 288),
  ('WHITE HANGING HEART T-LIGHT HOLDER', 144),
  ('HANGING WOOD AND FELT FLOWER', 96)],
 'Czech Republic': [('WOODEN TREE CHRISTMAS SCANDINAVIAN', 72),
  ('WOODEN STAR CHRISTMAS SCANDINAVIAN', 72),
  ('COLOUR GLASS T-LIGHT HOLDER HANGING', 48),
  ('CHRISTMAS TABLE SILVER CANDLE SPIKE', 48),
  ('DECORATION  BUTTERFLY  MAGIC GARDEN', 32)],
 'Denmark': [('RED  HARMONICA IN BOX ', 288),
  ('SET OF 6 TEA TIME BAKING CASES', 280),
  ('GUMBALL COAT RACK', 270),
  ('SET OF 12 MINI LOAF BAKING CASES', 256),
  ('DOLLY GIRL LUNCH BOX', 160)],
 'EIRE': [('PACK OF 72 RETROSPOT CAKE CASES', 1728),
  ('60 TEATIME FAIRY CAKE CASES', 1536),
  ('VINTAGE SNAP CARDS', 1492),
  ('ASSORTED INCENSE PACK', 1440),
  ('PACK OF 60 PINK PAISLEY CAKE CASES', 1296)],
 'European Community': [('WHITE ROCKING HORSE HAND PAINTED', 24),
  ('SET OF 60 VINTAGE LEAF CAKE CASES ', 24),
  ('SET OF 60 PANTRY DESIGN CAKE CASES ', 24),
  ('ROCKING HORSE RED CHRISTMAS ', 24),
  ('ROCKING HORSE GREEN CHRISTMAS ', 24)],
 'Finland': [('CHILDRENS CUTLERY POLKADOT PINK', 480),
  ('CHILDRENS CUTLERY POLKADOT BLUE', 300),
  ('DOUGHNUT LIP GLOSS ', 200),
  ('CHILDRENS CUTLERY POLKADOT GREEN ', 196),
  ('PACK OF 60 PINK PAISLEY CAKE CASES', 192)],
 'France': [('RABBIT NIGHT LIGHT', 4023),
  ('MINI PAINT SET VINTAGE ', 2196),
  ('RED TOADSTOOL LED NIGHT LIGHT', 1314),
  ('SET/6 RED SPOTTY PAPER CUPS', 1272),
  ('ASSORTED COLOUR BIRD ORNAMENT', 1204)],
 'Germany': [('ROUND SNACK BOXES SET OF4 WOODLAND ', 1218),
  ('ASSORTED COLOURS SILK FAN', 1164),
  ('POSTAGE', 1104),
  ('WOODLAND CHARLOTTE BAG', 1019),
  ('PACK OF 72 RETROSPOT CAKE CASES', 1002)],
 'Greece': [('4 PEAR BOTANICAL DINNER CANDLES', 48),
  ('4 LAVENDER BOTANICAL DINNER CANDLES', 48),
  ('SET OF 4 NAPKIN CHARMS CUTLERY', 32),
  ('SET/20 STRAWBERRY PAPER NAPKINS ', 24),
  ('SET OF 5 PANCAKE DAY MAGNETS', 24)],
 'Hong Kong': [('ROUND SNACK BOXES SET OF4 WOODLAND ', 150),
  ('WORLD WAR 2 GLIDERS ASSTD DESIGNS', 144),
  ('RED RETROSPOT BOWL', 120),
  ('PINK POLKADOT BOWL', 120),
  ('BLUE POLKADOT BOWL', 120)],
 'Iceland': [('ICE CREAM SUNDAE LIP GLOSS', 240),
  ('3D DOG PICTURE PLAYING CARDS', 126),
  ('MINI PAINT SET VINTAGE ', 108),
  ('RABBIT NIGHT LIGHT', 84),
  ('SMALL HEART MEASURING SPOONS', 72)],
 'Israel': [('WOODLAND CHARLOTTE BAG', 130),
  ('RED RETROSPOT CHARLOTTE BAG', 110),
  ('ROUND SNACK BOXES SET OF4 WOODLAND ', 96),
  ('BLUE STRIPE CERAMIC DRAWER KNOB', 96),
  ('REGENCY TEA PLATE ROSES ', 72)],
 'Italy': [('FEATHER PEN,HOT PINK', 240),
  ('ICE CREAM BUBBLES', 200),
  ('FEATHER PEN,COAL BLACK', 168),
  ('FEATHER PEN,LIGHT PINK', 120),
  ('POPCORN HOLDER', 112)],
 'Japan': [('RABBIT NIGHT LIGHT', 3401),
  ('PACK OF 12 TRADITIONAL CRAYONS', 1201),
  ('ROUND SNACK BOXES SET OF 4 FRUITS ', 870),
  ('WORLD WAR 2 GLIDERS ASSTD DESIGNS', 577),
  ('MINI PAINT SET VINTAGE ', 577)],
 'Lebanon': [('ASSTD FRUIT+FLOWERS FRIDGE MAGNETS', 24),
  ('PARTY BUNTING', 15),
  ('WASHROOM METAL SIGN', 12),
  ('SET OF 6 SPICE TINS PANTRY DESIGN', 12),
  ('SET OF 3 CAKE TINS PANTRY DESIGN ', 12)],
 'Lithuania': [('RED  HARMONICA IN BOX ', 48),
  ('FELTCRAFT DOLL ROSIE', 48),
  ('SILVER MUG BONE CHINA TREE OF LIFE', 36),
  ('GREY FLORAL FELTCRAFT SHOULDER BAG', 36),
  ('GOLD MUG BONE CHINA TREE OF LIFE', 36)],
 'Malta': [('GRAND CHOCOLATECANDLE', 75),
  ('CHRISTMAS PUDDING TRINKET POT ', 56),
  ('WRAP CHRISTMAS VILLAGE', 25),
  ('PACK OF 12 SUKI TISSUES ', 24),
  ('PACK OF 12 PINK PAISLEY TISSUES ', 24)],
 'Netherlands': [('RABBIT NIGHT LIGHT', 4801),
  ('SPACEBOY LUNCH BOX ', 4528),
  ('DOLLY GIRL LUNCH BOX', 4132),
  ('PACK OF 72 RETROSPOT CAKE CASES', 4128),
  ('ROUND SNACK BOXES SET OF4 WOODLAND ', 3132)],
 'Norway': [('SMALL FOLDING SCISSOR(POINTED EDGE)', 576),
  ('GROW A FLYTRAP OR SUNFLOWER IN TIN', 504),
  ('FENG SHUI PILLAR CANDLE', 384),
  ('POPCORN HOLDER', 300),
  ('PINK HEART SHAPE EGG FRYING PAN', 240)],
 'Poland': [('STRAWBERRY CERAMIC TRINKET BOX', 144),
  ('CERAMIC CAKE DESIGN SPOTTED MUG', 138),
  ('JAM MAKING SET PRINTED', 108),
  ('LARGE CHINESE STYLE SCISSOR', 100),
  ('CERAMIC STRAWBERRY DESIGN MUG', 96)],
 'Portugal': [('POLKADOT PEN', 240),
  ('60 TEATIME FAIRY CAKE CASES', 218),
  ('LUNCH BAG RED RETROSPOT', 215),
  ('JUMBO SHOPPER VINTAGE RED PAISLEY', 190),
  ('FRIDGE MAGNETS LES ENFANTS ASSORTED', 180)],
 'RSA': [('WOODEN BOX OF DOMINOES', 12),
  ('SET OF 20 KIDS COOKIE CUTTERS', 12),
  ('PACK OF 6 BIRDY GIFT TAGS', 12),
  ('ASSORTED BOTTLE TOP  MAGNETS ', 12),
  ('4 TRADITIONAL SPINNING TOPS', 12)],
 'Saudi Arabia': [('PLASTERS IN TIN STRONGMAN', 12),
  ('PLASTERS IN TIN SKULLS', 12),
  ('PLASTERS IN TIN CIRCUS PARADE ', 12),
  ('HOMEMADE JAM SCENTED CANDLES', 12),
  ('ASSORTED BOTTLE TOP  MAGNETS ', 12)],
 'Singapore': [('CHRISTMAS TREE PAINTED ZINC ', 384),
  ('PARTY PIZZA DISH RED RETROSPOT', 240),
  ('SMALL POPCORN HOLDER', 200),
  ('GIN & TONIC DIET GREETING CARD ', 144),
  ('POPCORN HOLDER', 100)],
 'Spain': [('CHILDRENS CUTLERY POLKADOT PINK', 729),
  ('CHILDRENS CUTLERY POLKADOT BLUE', 653),
  ('LUNCH BAG CARS BLUE', 558),
  ('ASSORTED COLOUR BIRD ORNAMENT', 417),
  ('LUNCH BAG PINK POLKADOT', 406)],
 'Sweden': [('MINI PAINT SET VINTAGE ', 2916),
  ('WORLD WAR 2 GLIDERS ASSTD DESIGNS', 2304),
  ('BUBBLEGUM RING ASSORTED', 1080),
  ('PACK OF 72 RETROSPOT CAKE CASES', 984),
  ('PACK OF 60 PINK PAISLEY CAKE CASES', 984)],
 'Switzerland': [('PLASTERS IN TIN WOODLAND ANIMALS', 639),
  ('ROUND SNACK BOXES SET OF4 WOODLAND ', 479),
  ('PLASTERS IN TIN SPACEBOY', 467),
  ('PACK OF 72 RETROSPOT CAKE CASES', 432),
  ('WOODLAND CHARLOTTE BAG', 340)],
 'USA': [('SET 12 COLOURING PENCILS DOILY', 88),
  ('12 PENCILS SMALL TUBE RED RETROSPOT', 72),
  ('SET/10 RED POLKADOT PARTY CANDLES', 48),
  ('SET/10 PINK POLKADOT PARTY CANDLES', 48),
  ('SET/10 IVORY POLKADOT PARTY CANDLES', 48)],
 'United Arab Emirates': [('BIG DOUGHNUT FRIDGE MAGNETS', 72),
  ('ASSORTED CHEESE FRIDGE MAGNETS', 72),
  ('MINI PAINT SET VINTAGE ', 36),
  ('BLUE PAISLEY TISSUE BOX', 36),
  ('WRAP PAISLEY PARK ', 25)],
 'United Kingdom': [('WORLD WAR 2 GLIDERS ASSTD DESIGNS', 48326),
  ('JUMBO BAG RED RETROSPOT', 43167),
  ('POPCORN HOLDER', 34365),
  ('ASSORTED COLOUR BIRD ORNAMENT', 33679),
  ('WHITE HANGING HEART T-LIGHT HOLDER', 33193)],
 'Unspecified': [('WORLD WAR 2 GLIDERS ASSTD DESIGNS', 96),
  ('SET/6 BEAD COASTERS GAUZE BAG GOLD', 48),
  ('ICE CREAM SUNDAE LIP GLOSS', 48),
  ('72 SWEETHEART FAIRY CAKE CASES', 48),
  ('6 ROCKET BALLOONS ', 40)]}

## Submission

In [17]:
student_id = "REAINTCZ" 
name = "Wiwie Sanjaya"
drive_link = "https://github.com/wiwiewei18/sqlite-and-elastic-search-exercise"  

assignment_id = "00_database_project"

from rggrader import submit, submit_image

question_id = "01_sql_columns"
submit(student_id, name, assignment_id, str(sql_columns), question_id, drive_link)
question_id = "02_sql_num_rows"
submit(student_id, name, assignment_id, str(sql_num_rows), question_id, drive_link)
question_id = "03_sql_num_products"
submit(student_id, name, assignment_id, str(sql_num_products), question_id, drive_link)
question_id = "04_sql_num_customers"
submit(student_id, name, assignment_id, str(sql_num_customers), question_id, drive_link)
question_id = "05_sql_top_product_revenues"
submit(student_id, name, assignment_id, str(sql_top_product_revenues), question_id, drive_link)
question_id = "06_sql_top_countries"
submit(student_id, name, assignment_id, str(sql_top_countries), question_id, drive_link)
question_id = "07_sql_top_selling_products_by_country_by_sales"
submit(student_id, name, assignment_id, str(sql_top_selling_products_by_country_by_sales), question_id, drive_link)
question_id = "08_sql_top_selling_products_by_country_by_quantity"
submit(student_id, name, assignment_id, str(sql_top_selling_products_by_country_by_quantity), question_id, drive_link)

'Assignment successfully submitted'